@model IEnumerable<LexiconLMS.Models.UserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Student", "RegisterStudent")
</p>

@using (Html.BeginForm("Index", "Users", FormMethod.Get, new { Id = "CoursesList" }))
{
    @Html.Hidden("studentsOnly", true)
    @Html.DropDownList("CourseId", (SelectList)ViewBag.CourseId, "All Students",
    new {
        @class = "form-control",
        @onchange = "getElementById(\"CoursesList\").submit();"
    })
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @{ 
                var email = "mailto:" + item.EMail;
            }
            <a href="@email">@item.EMail</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course)
        </td>
        <td>
            @Html.ActionLink("Modify", "EditStudent", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>
