@model LexiconLMS.Models.ModuleIndexViewModel

<h1>@Model.CourseName</h1>
<h2>Course Modules</h2>

<p>
    @Html.ActionLink("Add Module", "Create", new { Model.CourseId }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modules.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modules.FirstOrDefault().StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modules.FirstOrDefault().EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modules.FirstOrDefault().ActivityCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modules.FirstOrDefault().DocumentCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Modules) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentCount)
        </td>
        <td>
            @Html.ActionLink("Modify", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Activities", "Index", "Activities", new { moduleId = item.Id }, null) |
            @Html.ActionLink("Documents", "Index", "Documents", new { moduleId = item.Id }, null) 
        </td>
    </tr>
}

</table>
