@model IEnumerable<LexiconLMS.Models.ModuleIndexStudentViewModel>

<h2>Course Schedule</h2>
@if (ViewBag.showAll)
{
    <p>@Html.ActionLink("Show Less", "Index", "Modules")</p>
}
else
{
    <p>@Html.ActionLink("Show All", "Index", "Modules", new { showAll = true }, null)</p>
}

<div class="panel-group">
    @{int i = 0;}
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#collapse_@i">
                    <div class="justify-content-between">
                        <h4 class="panel-title">
                            @Html.DisplayFor(modelItem => item.Timestamp)
                        </h4>
                        <h4 class="panel-title">
                            @Html.DisplayFor(modelItem => item.Modules)
                        </h4>
                    </div>
                </a>
            </div>
            <div id="collapse_@i" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        @foreach (var activity in item.Activities)
                        {
                            <li>@Html.DisplayFor(modelItem => activity.StartTime) : @Html.ActionLink(activity.Name, "Details", "Activities", new {Id = activity.Id}, null)</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        ++i;
    }
</div>
   
