@model IEnumerable<LexiconLMS.Models.ModuleIndexStudentViewModel>

<h2>Course Schedule</h2>
@if (ViewBag.showAll == true)
{
    <p>@Html.ActionLink("Show Less", "Index", "Modules", new { showAll = false }, null)</p>
}
else
{
    <p>@Html.ActionLink("Show All", "Index", "Modules", new { showAll = true }, null)</p>
}

<div class="panel-group" id="accordion">

    @{int i = 0;}
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@i" aria-expanded="true" aria-controls="collapseOne_@i">
                        @Html.DisplayFor(modelItem => item.Timestamp)
                   </a>
                </h4>
            </div>
            <div id="collapseOne_@i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <ul>
                        @foreach (var activity in item.Activities)
                        {
                            
                            <li>@Html.DisplayFor(modelItem => activity.StartTime) :  @Html.DisplayFor(m => activity.Name)</li>
                        }
                    </ul>
                </div>
            </div>
        </div>


        ++i;
    }
</div>
   
