@model LexiconLMS.Models.ActivityTypeDetailViewModel

<h2>Activity Type</h2>

<div class="deleteView">
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.IsAssignment)</dt>
        <dd>@Html.DisplayFor(model => model.IsAssignment)</dd>
        
        @if (Model.Activities.Any())
        {
            <dt>@Html.DisplayNameFor(model => model.Activities)</dt>
            <dd>
                <table class="table sortable">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => Model.Activities.FirstOrDefault().Name)</th>
                            <th>@Html.DisplayNameFor(m => Model.Activities.FirstOrDefault().ModuleName)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var activity in Model.Activities)
                        {
                            <tr>
                                <td>@Html.ActionLink(activity.Name, "Details", "Activities", new { activity.Id }, null)</td>
                                <td>@Html.ActionLink(activity.ModuleName, "Index", "Modules", new { activity.ModuleId }, null)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Modify", "Edit", new { id = ViewBag.Id })
</p>
